body {
    font-family: Arial;
    font-size: 120%;
  }
  
  a {
    color: #563d7c;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #8570a5;
  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #563d7c;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #8570a5;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  


/* :root{
    --light-purple: rgb(122, 89, 153);
    --main-purple: rgb(109, 60, 155);
    --white: rgb(246, 244, 248);
}

html{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bolder;
    color: var(--main-purple);
}

#high-score{
    color: var(--main-purple);
    background-color: var(--white);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    text-align: center;
}


h1{
    font-size: 1.5em;
}

h2{
    margin-bottom: 15px;
}

h3{
    font-size: 1em;
}

p{
    margin: 2% 0;
}

ul{
    margin: 20px;
}

li{
    list-style-type: none;

}

button{
    background-color: var(--main-purple);
    color: var(--white);
    margin-top: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: default;
    border: none;
    width: fit-content;
}

#choices li{
    background-color: var(--main-purple);
    color: var(--white);
    margin: 20px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    cursor: default;

}

#choices li:hover{
    transition: 0.1s ease;
    background-color: var(--light-purple);
}

#lineBreak{
    border-bottom: 3px solid gray;
}

.hide{
    display: none;
}

.show{
    display: block;
} */