:root{
    --light-purple: rgb(122, 89, 153);
    --main-purple: rgb(109, 60, 155);
    --white: rgb(246, 244, 248);
}

html{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bolder;
    color: var(--main-purple);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    text-align: center;
}


h1{
    font-size: 1.5em;
}

h2{
    margin-bottom: 15px;
}

h3{
    font-size: 1em;
}

p{
    margin: 2% 0;
}

ul{
    margin: 20px;
}

li{
    list-style-type: none;

}

button{
    background-color: var(--main-purple);
    color: var(--white);
    margin-top: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: default;
    border: none;
    width: fit-content;
}

#choices li{
    background-color: var(--main-purple);
    color: var(--white);
    margin: 20px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    cursor: default;

}

#choices li:hover{
    transition: 0.1s ease;
    background-color: var(--light-purple);
}



.hide{
    display: none;
}

.show{
    display: block;
}